body{
    font-family: sans-serif;
    background: url(https://cdn.discordapp.com/attachments/1214625883604779031/1470955461095194624/ChatGPT-Image-10-de-fev.-de-2026_-22_30_15.gif?ex=699da846&is=699c56c6&hm=68a952feb6e3b713eb0a21ec4450ed24927738df812922cdfb5171cae187d4a7&)
    no-repeat fixed center center / cover;
}

header {
    height: 180px;
    width: auto;
    margin: 0px;
}
  
header img { 
 width: 260px;
 margin-left: 20px;
 height: auto;
}


nav ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
    text-align: right;
    margin-right: 280px;
}

nav ul li{
    display: inline;
    
}

nav ul li a{
   color: #DAF1DE;
   text-decoration: none;
   font-weight: bold;
   margin: 15px;
   background-color: rgba(0, 0, 0, 0.67);
   padding: 5px 15px;
   margin-left: 5px;
   margin-right: 50px;
}

h2 {
  font-size: large;
   background-color: #DAF1DE;
   color:rgb(51, 131, 104); 
   text-align: center;
   text-shadow: 0px 2px #00321f;
   margin-left: 320px;
   margin-right: 320px;
   padding: 2px;
   margin-bottom: 1px;
  
}


section{
   background-color: rgba(0, 0, 0, 0.67); 
   border: 1px solid rgb(65, 65, 65);
  padding: 5px;
   margin-left: 320px;
   margin-right: 320px;
   margin-bottom: 30px;
}

section p {
    color:#DAF1DE
}

h3 {
   background-color: #DAF1DE;
   color:rgb(51, 131, 104); 
   text-align: center;
   text-shadow: 0px 2px #00321f;
   margin-left: 320px;
   margin-right: 320px;
   padding: 2px;
   margin-bottom: 1px; 
}

h4 {
    background-color: #DAF1DE;
   color:rgb(51, 131, 104); 
   text-align: center;
   text-shadow: 0px 2px #00321f;
   margin-left: 320px;
   margin-right: 320px;
   padding: 2px;
   margin-bottom: 1px; 
}
